html{ 
    scroll-snap-type: y mandatory;

}

body {
    scroll-snap-type: y mandatory;
}


.stepContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

.stickyItems {
    position: sticky;
    top: 0;
    
}

.backgroundImage{
    width:100%;
    height: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

#image1 {
    background-image: url("../../assets/images/eviction-story/eviction_notice.png");
}

#image2 {
    background-image: url("../../assets/images/eviction-story/calling_avlf.png");
}

#image3 {
    background-image: url("../../assets//images/eviction-story/community_navigator.png");
}

#image4 {
    background-image: url("../../assets//images/eviction-story/image4.png");
}

#image4a {
    background-image: url("../../assets//images/eviction-story/image4a.png");
}

#image5 {
    background-image: url("../../assets//images/eviction-story/image5.png");
}

#image6 {
    background-image: url("../../assets//images/eviction-story/image6.png");
}

#image7 {
    background-image: url("../../assets//images/eviction-story/image7.png");
}

#image7a {
    background-image: url("../../assets//images/eviction-story/image7a.png");
}

.topGradient{
    background: linear-gradient(180deg, #00000000, rgba(0,0,0,.4), rgba(0,0,0,1));
    transform: rotate(180deg);
    width: 100%;
    height: 18%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
    margin-top: -2px;
    padding-top: 0;
}

.bottomGradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00001) 0%, rgba(17, 17, 17, 0.22) 12.63%, #000000 100%);
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}

.stepHeader {
    color:white;
    max-width: 240px;
    margin: 22px 0px 0px 20px;
    opacity: 0.76;
    position: absolute;
    top:0;
}


.storyContainer {
    position: absolute;
    top:10%;
    width:100%;
    height:90%;
    overflow: hidden;

}

.storyText {
    width: 85%;
    height: 100%;
    /* padding-top: 70%; */
    z-index: 5;
    color:white;
    font-weight: bold;
    position:relative;
    display: inline-block;
    overflow-y:auto;
    font-size: 18px;
    line-height: 1.6;
    padding-left: 20px;
    mask-image: linear-gradient(0deg, black 50%, transparent 65%);
    bottom:5px;
}

.storyText p {
    margin-top: 120%;
}