/* html{ 
      scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;

} */




.stepContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* scroll-snap-align: start; */
}

.stickyItems {
    position: sticky;
    top: 0;
    
}

.backgroundImage{
    width:100%;
    height: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

#image1 {
    background-image: url("../../assets/images/eviction-story/eviction_notice.png");
}

#image2 {
    background-image: url("../../assets/images/eviction-story/calling_avlf.png");
}

#image3 {
    background-image: url("../../assets//images/eviction-story/community_navigator.png");
}

#image4 {
    background-image: url("../../assets//images/eviction-story/image4.png");
}

#image4a {
    background-image: url("../../assets//images/eviction-story/image4a.png");
}

#image5 {
    background-image: url("../../assets//images/eviction-story/image5.png");
}

#image6 {
    background-image: url("../../assets//images/eviction-story/image6.png");
}

#image7 {
    background-image: url("../../assets//images/eviction-story/image7.png");
}

#image7a {
    background-image: url("../../assets//images/eviction-story/image7a.png");
}

.topGradient{
    background: linear-gradient(180deg, #00000000, rgba(0,0,0,.4), rgba(0,0,0,1));
    transform: rotate(180deg);
    width: 100%;
    height: 18%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
    margin-top: -2px;
    padding-top: 0;
}

.bottomGradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00001) 0%, rgba(17, 17, 17, 0.22) 20%, #000000 100%);
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}

.stepHeader {
    color:white;
    max-width: 240px;
    margin: 22px 0px 0px 20px;
    opacity: 0.76;
    position: absolute;
    top:0;
}


.storyContainer {
    position: absolute;
    top:10%;
    width:100%;
    height:90%;
    overflow: hidden;

}

.storyText {
    width: 80%;
    top: 50%;
    height: 50%;
    /* padding-top: 70%; */
    z-index: 5;
    color:white;
    font-weight: bold;
    position:relative;
    display: inline-block;
    overflow-y: scroll;
    font-size: 18px;
    line-height: 1.6;
    padding-left: 20px;
    mask-image: linear-gradient(180deg, rgb(27, 27, 27) 85%, transparent 95%);
    bottom:30px;
}

/* #topIndent {
    margin-top: 120%;
} */

.toolTipDefine {
    background: #A67E03 url("../../assets/icons/tap.png") no-repeat;
    background-position: 99% 50%;
    background-size: 35px 35px;
    padding: 0px 38px 0px 10px;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;

}

.toolTipResource {
    background: #4387C5 url("../../assets/icons/tap.png") no-repeat;
    background-position: 99% 50%;
    background-size: 35px 35px;
    padding: 0px 38px 0px 10px;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
}

.toolTipContent  {
    max-width: 64vw !important;
    text-align: left !important;
    border-radius: 20px !important;
    background-color: #1E1E1E !important;
    opacity: 1 !important;
    font-size: 15px !important;
    /* line-height: 1.4 !important; */
    font-weight: normal;
    pointer-events: auto !important;
}
