.bold {
    font-weight: bold;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: #2A3667;
    background-blend-mode: multiply;
    background-image: url("../../assets/images/home_hero.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.heroText{
    margin-top: 2rem;
    vertical-align: middle;
    margin-bottom: 1.5rem;
}

.heroDescription {
    color: white;
    padding: 0 3rem 4rem;
    text-align: center;
}

.downArrow {
    margin-bottom: 1rem;
}

.optionContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 100%;
}

.optionContent {
    width: 100%;
    text-align: center;
}

.sectionHeader {
    font-weight: bold;
    font-size: 30px;
    margin: 0px 10px 0px 10px;
}

.sectionBody {
    padding: 20px;
    margin: 0px;
}

.ctaButton {
    border: none;
    padding: 10px;
    height: 41px;
    width: 167px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20.5px;
    margin-top: 10px;
}