#pageTitle {
    font-size: 28px;
    font-weight: 700;
    color: #37488C;
    padding: 20px 15px 10px 10px;
}

#pageDescription {
    color: #1D1D1B;
    padding: 5px 10px 15px 10px;
    font-size: 14px;
}

#footerSpace {
    padding-top: 20px;
}

#categoriesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px 0px 35px 0px;
}

#categoriesContent {
    background-color: #F5F8FF;
    border-radius: 8px;
    border: 1px solid #EDF2FF;
    width: 100%;
    margin: 0px 10px 0px 10px; 
}

#categoriesHeader {
    color: #464646;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    padding: 10px 0px 15px 15px;
}

.categoryLinkContainer {
    margin-left: 35px;
    padding: 0px 10px 10px 0px;
}

#bullet {
    width: 7px;
    height: 7px;
    background: #3871F8;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2.5px;
    margin-right: 6px;
}

#categoryLink {
    color: #37488C;
    text-decoration-line: underline;
    font-size: 15px;
    padding: 0px 0px 0px 3px;
    font-weight: bold;
    cursor: pointer;
    
}
#categoriesSpacer {
    padding-bottom: 10px;
}
