.sidenav { 
    scroll-behavior: smooth;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 30px;
    top:100px;
    /* border: 5px solid palegreen; */
    z-index: 100;
    height: auto;
    width: auto;
    text-align: center;
}

.sidenav a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    z-index: 101;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    

  }

  .circleEmpty {
    background: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.85);
  }

  .circleFilled {
    background: rgba(255, 255, 255, 0.830037);
    color: rgb(87, 87, 87);
  }

  .line { 
    border: .75px solid rgba(255, 255, 255, 0.4);
    width: 1px;
    height: 14px;
  }