.container {
    height: 70px;
    display: block;
    background-color: #293669;
  }

  .menuButton {
    position: absolute;
    right: 15px;
    top:18px;
    width: 90px;
    height: 32px;
    cursor: pointer;
    border-radius: 7px;
    background: #6A80D8;
    text-align: center;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 2px;
  }

  .menuText {
    float: left;
    color: white;
    font-size: 14px;
    text-align: center;
  }

  .hamburger {
    margin:auto;
    float: right;
    width: 30px;
    height: 30px;
  }

  .closeIcon {

    float: right;
    width: 23px;
    height: 23px;
    margin-right:10px;
    padding-bottom: 2px;
  }

  .logo {
    position: absolute;
    left: 7px;
    top: 5px;
  }

  .dropDownMenu nav {
      height: 170px;
      width: 50vw;
      background-color: rgb(241, 241, 241);
      position: absolute;
      right:0;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      z-index: 999;
  }


.dropDownItem {
    width:100%;
    height: 100%;
    display: flex;
    border-bottom: 1px solid #DEDEDE;
    justify-content: flex-start;
    align-items: center;
}

#item {
  font-weight: bold;
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  padding-left: 12px;
}